@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    background-size: cover;
    background-color: #ffffff;
}
.homepage-bottom-heading{
    color: #f19116;
}
.homepage-bottom-subheading{
    color: #7b8794;
}
.container1{
    background-color: #222222;
}
.homepage2-button{
    background-color: #222222;
    padding-left: 20px;
}
.image2,.image3,.image4{
    width: 400px;
    height: 400px;
}
.homepage1-heading{
    color: #f19116;
}
.item-text{
    padding-left: 20px;
}
.item-homepage1{
    border-radius: 25px;
}
.item-heading{
    color: #0f0e46;
}
.item-paragraph{
    color: #6c6b70;
}
.bg-detail{
    background-color: #222222;
}
.amount{
    color: #f19116;
}
.address-text{
    color: #ffffff;
}
.description-heading{
    color: #f19116;
}
.description-content{
    color: #ffffff;
}
.horizontal-line{
    background-color: #ffffff;
}
